* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #222;
    overflow: hidden;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .box {
    transform-style: preserve-3d;
    animation: animate 5s linear infinite;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes animate {
    0% {
        transform: perspective(1000px) rotateX(0deg) rotate(25deg);
    }

    100% {
        transform: perspective(1000px) rotateX(360deg) rotate(25deg);
    }
}


.container .box span {
    position: absolute;
    color: rgba(40, 255, 205, 0.778);
    font-size: 3.5em;
    font-weight: 900;
    white-space: nowrap;
    text-transform: uppercase;
    padding: 0 10px;
    line-height: 0.76em;
    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    transform: translate(-50%, -50%) rotateX(calc(var(--i) * 22.5deg)) translateZ(106px);
    background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.5), transparent);
    transform-style: preserve-3d;
}

.container .box span em:nth-child(1) {
    font-style: initial;
    color: #ff246f;
}

.container .box span em:nth-child(2) {
    font-style: initial;
    color: #12b5ff;
}