//- creating a template

doctype html
html 
    head 
        title SKY Dance Academy
        block scripts
        block style
        //- we can fill data here in separate files while 
        //- using this as template
    body 
        block content 
        footer#footer 
            | Copyright &copy; 2022 SKYdanceAcademy.com | All right reserved